h1 {
  margin:50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  padding: 0;
}
h3{
    color: #11999E;
    margin:0;
}
a{
    color: #11999E;
}
a:hover{
    color: #EAF6F6;
}
p{
  margin:0;
}
body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}
hr{
    border: dashed #11999E 6px ;
    border-bottom: none;
    width: 10%;
    margin :0 auto 0 auto; 
}

.topContainer {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.midContainer {
  background-color: #e4f9f5;
  padding-top:50px;

  
}
.botContainer {
    background-color: #66BFBF;
    margin-bottom:0;
    padding:1.5rem;
    height:50px
  
}
.BoldUnderline{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
.botCloud {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 140px;
  bottom: 350px;
}
.topCloud {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 120px;
  top:-30px;  
}

.heading2{
    font-size: 2.5rem;
    font-family: 'Montserrat',sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row2{
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: left;
    line-height: 2;
}

.skillImage1{
    width: 25%;
    float: left;
}
.skillImage2{
    width: 25%;
    float: right;
}
.footer-para{
    margin: 0;
}
.profileImg{
    height: 45%;
    width: 45%;
    border-radius: 100%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .contact-me{
    padding-bottom: 15px;
    position: relative;
  }
  .copyRight{
    margin-top:15px;
    color: #EAF6F6;
    font-size: 0.75rem;
  }
  .indiImg{
   
    width: 25px;
    height: 25px;
    margin :0;
   
}
.skills{
  padding-top: 20px;
}
  
